# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules


# Ignore Firebase admin SDK JSON file in the config directory
/constants/shopify-56c1c-firebase-adminsdk-vt7zl-9a1beed339.json

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
